<svg 
    xmlns="http://www.w3.org/2000/svg" 
    fill="none" 
    viewBox="0 0 24 24" 
    stroke-width="1.5" 
    stroke="currentColor" 
    class="size-6"
    width="30px"
    height="30px"
>
    <path 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        d="
            M10.5 6h9.75 
            M10.5 6a1.5 1.5 0 1 1-3 0 
            m3 0a1.5 1.5 0 1 0-3 0 
            M3.75 6H7.5 
            m3 12h9.75 
            m-9.75 0a1.5 1.5 0 0 1-3 0 
            m3 0a1.5 1.5 0 0 0-3 0 
            m-3.75 0H7.5 
            m9-6h3.75 
            m-3.75 0a1.5 1.5 0 0 1-3 0 
            m3 0a1.5 1.5 0 0 0-3 0 
            m-9.75 0h9.75
        " 
    />
</svg>