<svg 
    xmlns="http://www.w3.org/2000/svg" 
    fill="none" 
    viewBox="0 0 24 24" 
    stroke-width="1.5" 
    stroke="currentColor" 
    class="size-6"
    width="30px"
    height="30px"
>
    <path 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        d="
            M10.5 19.5L3 12
            m0 0l7.5-7.5
            M3 12h18
        " 
    />
</svg>