<svg 
    xmlns="http://www.w3.org/2000/svg" 
    fill="none" 
    viewBox="0 0 24 24" 
    stroke-width="1.5" 
    stroke="currentColor" 
    class="size-6"
    width="30px"
    height="30px"
>
    <path 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        d="
            M12 3v2.25
            M18.364 5.636l-1.591 1.591
            M21 12h-2.25
            M18.364 18.364l-1.591-1.591
            M12 18.75V21
            M7.227 16.773l-1.591 1.591
            M5.25 12H3
            M7.227 7.227L5.636 5.636
            M15.75 12a3.75 3.75 0 1 1-7.5 0 
            3.75 3.75 0 0 1 7.5 0Z
        " 
    />
</svg>