/* =========================================
   :root - CSS Variables
========================================= */
:root {
  /* Colors */
  --primary-color: #053742;
  --primary-light-color: #cce6ecb4;
  --yellow-color: #fbf074;
  --red-color: #421005;
  --green-color: #071c08;
  --gray-color: #403e3e;
  --light-gray-color: #e2e1e1;
  --white-color: #ffffffd4;

  /* Font Sizes */
  --font-size-base: 20px;
  --font-size-nav: 0.95rem;
  --font-size-nav-md: 1.2rem;
  --font-size-nav-lg: 1.6rem;
  --font-size-nav-xl: 2.5rem;

  /* Spacing */
  --spacing-sm: 1.5rem;
  --spacing-md: 2rem;
  --spacing-lg: 3.5rem;
  --spacing-xl: 5rem;
  /* --navbar-height: 86px;
  --navbar-height-sm: 76px; */

  /* Transition */
  --transition-speed: 0.3s;
}

/* =========================================
   Global Styles
========================================= */
html {
  scroll-padding-top: 3.85rem;
}

body {
  font-size: var(--font-size-base);
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
  background-image: linear-gradient(var(--primary-color), var(--primary-color));
  background-repeat: no-repeat;
  background-size: 0% .1rem;
  background-position: 0 100%;
  transition: background-size var(--transition-speed) ease-in-out;
}

a:hover {
  background-size: 100% .1rem;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  color: var(--primary-color);
}

h6 {
  font-size: var(--font-size-base);
}

h6::after {
  content: "";
  display: block;
  text-align: center;
  width: 30%;
  height: 2px;
  margin: 1rem auto;
  background-color: var(--primary-color);
}

.custom-color {
  color: var(--primary-color);
}

.custom-bg {
  background-color: var(--primary-light-color);
}


/* =========================================
   Navbar Styles
========================================= */
.navbar-nav .nav-link {
  margin: 0 1.1rem;
  color: var(--gray-color);
  font-size: var(--font-size-nav);
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-color);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.nav-item.active {
  text-decoration: underline;
}

.navbar-brand:hover {
  background-size: 0; /* reset animation for the logo */
}

.navbar-logo {
  height: 60px;
  width: auto;
}

.navbar {
  border-bottom: .3px solid var(--light-gray-color);
}

.custom-toggler,
.custom-toggler:focus,
.custom-toggler:active,
.btn-close,
.btn-close:focus,
.btn-close:active {
  border: none;
  outline: none;
  box-shadow: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(5, 55, 66)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  font-size: 27px;
}

#offcanvasNavbar {
  width: 100vw;
  background-color: #ffffffc6; /* slight transparency */
}

.offcanvas-header .btn-close {
  font-size: 1.6rem;
  padding: 1.6rem;
}

/* =========================================
   About Me Section Styles
========================================= */
.bg-image {
  background-image: url('/img/Feli_mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  position: relative;
  height: 60vh;
  min-height: 665px;
}

.text-overlay {
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  max-width: 60%;
  border-radius: 20px 0 0 20px;
  padding: var(--spacing-sm);
}


/* =========================================
   Animations for the About Me Section
========================================= */
/* Active state when in viewport */
.bg-image.active,
.text-overlay.active {
  opacity: 1; 
}

.animate-slide-in-left {
  transform: translateX(-7rem); 
  opacity: 0;
}

.animate-slide-in-right {
  transform: translateX(7rem); 
  opacity: 0;
}

.animate-slide-in-left.active,
.animate-slide-in-right.active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 3s ease-out, opacity 3s ease-out;
}


/* =========================================
   Responsive Styles
========================================= */
@media (max-width: 1199px) {
  html {
    scroll-padding-top: 3.5rem;
  }

  body {
    font-size: 18px;
  }

  .navbar-nav .nav-link {
    font-size: var(--font-size-nav-lg);
    font-weight: 700;
    padding: 1.6rem 0;
  }

  .navbar-logo {
    height: 50px;
  }

  #offcanvasNavbar .nav-link {
    font-size: var(--font-size-nav-lg);
    font-weight: 700;
    padding: 1.6rem 0;
  }

  .hero-home {
    background-image: url('/img/Feli_predel_cut.JPG') !important;
  }

  .footer-logo {
    height: 70px;
  }

  /* Disable animations on smaller screens */
  .animate-slide-in-left,
  .animate-slide-in-right {
    animation: none;
    opacity: 1;
    transform: translateX(0);
  }

  .bg-image {
    background-image: url('/img/Feli_mountain_cut.jpg');
    height: 40vh;
    min-height: 400px;
    margin-bottom: var(--spacing-sm);
  }

  .text-overlay {
    position: static;
    transform: none;
    max-width: 100%;
    height: auto;
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .navbar .nav-link {
    font-size: var(--font-size-nav-md);
  }
}

@media (max-width: 767px) {
  .dropdown-menu {
    width: 100%;
  }

  .nav-tabs .nav-link,
  .nav-tabs .nav-link:focus,
  .nav-tabs .nav-link:hover {
    border: none !important;
  }

  .dropdown-menu .dropdown-item.active {
    background-color: var(--primary-color);
  }
}

/* =========================================
   Hero Sections
========================================= */
.hero-home {
  position: relative;
  color: #fff;
}

.hero-pages {
  height: 55vh;
  min-height: 300px;
}

/* =========================================
   Section Divider
========================================= */
.sun-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
  position: relative;
}

.sun-divider::before,
.sun-divider::after {
  content: "";
  flex: 1;
  height: 2px;
  background: linear-gradient(to left, var(--gray-color) 0%, transparent 75%);
}

.sun-divider::after {
  background: linear-gradient(to right, var(--gray-color) 0%, transparent 75%);
}

.sun {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(circle, var(--yellow-color) 40%, var(--yellow-color));
  margin: 0 0.6em;
  box-shadow: 0 0 15px var(--yellow-color);
}

/* =========================================
   Button Styles
========================================= */
.custom-btn,
.custom-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  transition: filter var(--transition-speed), transform var(--transition-speed);
}

.custom-btn:hover {
  text-decoration: none;
  filter: brightness(1.3);
  transform: scale(1.05);
}

.toggle-btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background var(--transition-speed);
}

.toggle-btn:active,
.toggle-btn:hover,
.toggle-btn:focus {
  border: none;
}

.toggle-btn::before,
.toggle-btn::after {
  content: '';
  position: absolute;
  background: var(--primary-color);
  transition: transform var(--transition-speed);
}

.toggle-btn::before {
  width: 20px;
  height: 3px;
}

.toggle-btn::after {
  width: 3px;
  height: 20px;
  transition: opacity var(--transition-speed);
}

.card:hover .toggle-btn::after,
.card:hover .toggle-btn::before {
  transform: scale(1); /* Reset to neutral scaling */
}

.toggle-btn.active::after {
  opacity: 0;
}

/* =========================================
   Footer Styles
========================================= */
.page-footer {
  background-color: var(--red-color);
}

.footer-link,
.footer-info {
  color: var(--white-color);
  text-decoration: none;
}

.footer-link a {
  background-image: linear-gradient(var(--light-gray-color), var(--light-gray-color));
}

.footer-link a:hover {
  color: var(--light-gray-color);
}

#copyright {
  color: var(--white-color);
}

.footer-logo {
  height: 150px;
  width: auto;
}

/* =========================================
   Card Styles
========================================= */
.card {
  border: none;
  border-radius: 20px;
  box-shadow: none;
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* .row:hover .card:not(:hover) {
  filter: blur(1px);
} */

.card .card-title {
  font-weight: 700;
  color: var(--primary-color);
}

.card .card-text {
  line-height: 1.8;
}

/* =========================================
   Carousel Styles
========================================= */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23053742' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23053742' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-item > h5::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--primary-color);
  width: 100px;
  margin: 10px auto;
}

/* =========================================
   Contact Links
========================================= */
#contact a[href^="tel:"]:hover,
#contact a[href^="mailto:"]:hover {
  color: var(--primary-color);
}

/* =========================================
   Icon Styles
========================================= */
.icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

/* =========================================
   Tabs stlyes
========================================= */
.nav-tabs .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
  border-bottom: 1px solid var(--light-gray-color);
  color: var(--primary-color);
}

.nav-tabs .nav-link.active {
  color: var(--gray-color);
  background-color: transparent;
}

.custom-tabs {
  position: relative;
}

.tab-line {
  position: absolute;
  height: 2px;
  bottom: -1px;
  background-color: var(--primary-color);
  transition: linear var(--transition-speed);
}



/* =========================================
   Scroll To Top Button
========================================= */
#scrollToTopBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  border: none;
  color: var(--primary-color);
  background: transparent;
  cursor: pointer;
  transition: background-color var(--transition-speed), transform var(--transition-speed);
}

#scrollToTopBtn:hover {
  background-color: var(--primary-light-color);
  transform: scale(1.1);
}
