---
layout: layouts/base.njk
title: "404 - Page Not Found"
permalink: "/404.html"
---
<div class="container text-center">
  <h1 class="my-4 fs-1">404</h1>
  <h2>
    {% if locale == 'nl' %}
      Pagina niet gevonden
    {% else %}
      Page Not Found
    {% endif %}
  </h2>
  <p>
    {% if locale == 'nl' %}
      Sorry, de pagina die je zoekt bestaat niet.
    {% else %}
      Sorry, the page you're looking for doesn't exist.
    {% endif %}
  </p>
  <a href="/" class="btn custom-btn mb-5">
    {% if locale == 'nl' %}
      Terug naar de homepagina
    {% else %}
      Back to Homepage
    {% endif %}
  </a>
</div>